pushn 1 // bin
pushi 0 // valor
jump main
Length:
pushn 2
pushi 1
storel 0
WHILE1:
pushl 0
pushi 50
infeq
pushl -1
pushl 0
pushi 1
sub
charat
pushi 32
equal
not
and
jz ENDWHILE2
pushl 0
pushi 1
add
storel 0
jump WHILE1
ENDWHILE2:
pushl 0
pushi 1
sub
storel 1
pushl 1
swap
pop 1
swap
pop 1
return
BinToInt:
pushn 4
pushi 0
storel 1
pushi 1
storel 2
pushl -1
pusha Length
call
swap
pop 1
storel 0
FOR3:
pushl 0
pushi 1
supeq
jz ENDFOR4
pushl -1
pushl 0
pushi 1
sub
charat
pushi 49
equal
jz ENDIF5
pushl 1
pushl 2
add
storel 1
ENDIF5:
pushl 2
pushi 2
mul
storel 2
pushl 0
pushi 1
sub
storel 0
jump FOR3
ENDFOR4:
pushl 1
storel 3
pushl 3
swap
pop 1
swap
pop 1
swap
pop 1
swap
pop 1
return
main:
start
pushs "Introduza uma string binária:"
writes
writeln
read
storeg 0
pushg 0
pusha BinToInt
call
swap
pop 1
storeg 1
pushs "O valor inteiro correspondente é: "
writes
pushg 1
writei
writeln
stop