pushi 0 // num
pushi 0 // i
pushi 0 // primo
jump main
main:
start
pushs "Introduza um número inteiro positivo:"
writes
writeln
read
atoi
storeg 0
pushi 1
storeg 2
pushi 2
storeg 1
WHILE1:
pushg 1
pushg 0
pushi 2
div
infeq
pushg 2
and
jz ENDWHILE2
pushg 0
pushg 1
mod
pushi 0
equal
jz ENDIF3
pushi 0
storeg 2
ENDIF3:
pushg 1
pushi 1
add
storeg 1
jump WHILE1
ENDWHILE2:
pushg 2
jz ELSE4
pushg 0
writei
pushs " é um número primo"
writes
writeln
jump ENDIF5
ELSE4:
pushg 0
writei
pushs " não é um número primo"
writes
writeln
ENDIF5:
stop